<a href="https://colab.research.google.com/github/ZahraaSameerSabti/Tasks-/blob/main/Untitled28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn import model_selection,metrics,preprocessing,linear_model,tree,svm,datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read the dataset from Kaggle.

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving housing.csv to housing (1).csv

In [ ]:
house_data=pd.read_csv('housing.csv')
house_data

       longitude  latitude  ...  median_house_value  ocean_proximity
0        -122.23     37.88  ...            452600.0         NEAR BAY
1        -122.22     37.86  ...            358500.0         NEAR BAY
2        -122.24     37.85  ...            352100.0         NEAR BAY
3        -122.25     37.85  ...            341300.0         NEAR BAY
4        -122.25     37.85  ...            342200.0         NEAR BAY
...          ...       ...  ...                 ...              ...
20635    -121.09     39.48  ...             78100.0           INLAND
20636    -121.21     39.49  ...             77100.0           INLAND
20637    -121.22     39.43  ...             92300.0           INLAND
20638    -121.32     39.43  ...             84700.0           INLAND
20639    -121.24     39.37  ...             89400.0           INLAND

[20640 rows x 10 columns]

 # Drop column (ocean_proximity)

In [ ]:
house_data.drop(columns=['ocean_proximity'],axis=1,inplace=True)
house_data

       longitude  latitude  ...  median_income  median_house_value
0        -122.23     37.88  ...         8.3252            452600.0
1        -122.22     37.86  ...         8.3014            358500.0
2        -122.24     37.85  ...         7.2574            352100.0
3        -122.25     37.85  ...         5.6431            341300.0
4        -122.25     37.85  ...         3.8462            342200.0
...          ...       ...  ...            ...                 ...
20635    -121.09     39.48  ...         1.5603             78100.0
20636    -121.21     39.49  ...         2.5568             77100.0
20637    -121.22     39.43  ...         1.7000             92300.0
20638    -121.32     39.43  ...         1.8672             84700.0
20639    -121.24     39.37  ...         2.3886             89400.0

[20640 rows x 9 columns]

# necessary preprocessing steps

In [ ]:
house_data.replace([np.inf, -np.inf], np.nan, inplace=True)
house_data.dropna(inplace=True)
house_data

       longitude  latitude  ...  median_income  median_house_value
0        -122.23     37.88  ...         8.3252            452600.0
1        -122.22     37.86  ...         8.3014            358500.0
2        -122.24     37.85  ...         7.2574            352100.0
3        -122.25     37.85  ...         5.6431            341300.0
4        -122.25     37.85  ...         3.8462            342200.0
...          ...       ...  ...            ...                 ...
20635    -121.09     39.48  ...         1.5603             78100.0
20636    -121.21     39.49  ...         2.5568             77100.0
20637    -121.22     39.43  ...         1.7000             92300.0
20638    -121.32     39.43  ...         1.8672             84700.0
20639    -121.24     39.37  ...         2.3886             89400.0

[20433 rows x 9 columns]

In [ ]:
x=house_data.iloc[:,2:8]
y=np.array(house_data.median_house_value)
x

       housing_median_age  total_rooms  ...  households  median_income
0                    41.0        880.0  ...       126.0         8.3252
1                    21.0       7099.0  ...      1138.0         8.3014
2                    52.0       1467.0  ...       177.0         7.2574
3                    52.0       1274.0  ...       219.0         5.6431
4                    52.0       1627.0  ...       259.0         3.8462
...                   ...          ...  ...         ...            ...
20635                25.0       1665.0  ...       330.0         1.5603
20636                18.0        697.0  ...       114.0         2.5568
20637                17.0       2254.0  ...       433.0         1.7000
20638                18.0       1860.0  ...       349.0         1.8672
20639                16.0       2785.0  ...       530.0         2.3886

[20433 rows x 6 columns]

In [ ]:
house_data.longitude.fillna(house_data.longitude.mean(),inplace=True)
house_data.latitude.fillna(house_data.latitude.mean(),inplace=True)

In [ ]:
x_normalizer=preprocessing.StandardScaler()
y_normalizer=preprocessing.StandardScaler()

x_norm=x_normalizer.fit_transform(x)
y_norm=y_normalizer.fit_transform(y.reshape(-1,1))

# random seed to 42

In [ ]:
np.random.seed(42)

In [ ]:
x_train,x_test,y_train,y_test=model_selection.train_test_split(x_norm,y_norm,test_size=0.10,random_state=42)

# Split the dataset into a training/testing set

In [ ]:
np.isnan(house_data.any()) 
np.isfinite(house_data.all())

longitude             True
latitude              True
housing_median_age    True
total_rooms           True
total_bedrooms        True
population            True
households            True
median_income         True
median_house_value    True
dtype: bool

# 3 models/algorithms

##tree decision

In [ ]:

tree_model=tree.DecisionTreeRegressor()
tree_model.fit(x_train,y_train)
pred=tree_model.predict(x_test)
print(f'the mse is : {metrics.mean_squared_error(y_test,pred)}')
print(f'the r2  is : {metrics.r2_score(y_test,pred)}')

the mse is : 0.6409120915062656
the r2  is : 0.3805411567659239

##linear regression

In [ ]:
model=linear_model.LinearRegression()
model.fit(x_train,y_train)
pred=model.predict(x_test)
print(f'the mse is : {metrics.mean_squared_error(y_test,pred)}')
print(f'the r2  is : {metrics.r2_score(y_test,pred)}')

the mse is : 0.430088084496393
the r2  is : 0.5843082525019101

In [ ]:
x.shape[0] != y.shape[0]

False

In [ ]:
x.shape

(20433, 6)

In [ ]:
y.shape

(20433,)

##Support-vector machine svm

In [ ]:
svm_model=svm.SVR(kernel='rbf',C=1.0)
svm_model.fit(x_train,y_train)
pred=svm_model.predict(x_test)
print(f'the mse is : {metrics.mean_squared_error(y_test,pred)}')
print(f'the r2  is : {metrics.r2_score(y_test,pred)}')

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

the mse is : 0.3294816681836238
the r2  is : 0.6815470705815729

# Keep tuning the hyper-parameters for the SVM

In [ ]:
svm_model=svm.SVR(kernel='rbf',C=2)
svm_model.fit(x_train,y_train)
pred=svm_model.predict(x_test)
print(f'the mse is : {metrics.mean_squared_error(y_test,pred)}')
print(f'the r2  is : {metrics.r2_score(y_test,pred)}')

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

the mse is : 0.32752572675773456
the r2  is : 0.6834375407867259

In [ ]:
svm_model=svm.SVR(kernel='rbf',C=5)
svm_model.fit(x_train,y_train)
pred=svm_model.predict(x_test)
print(f'the mse is : {metrics.mean_squared_error(y_test,pred)}')
print(f'the r2  is : {metrics.r2_score(y_test,pred)}')

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

the mse is : 0.3246872529869612
the r2  is : 0.6861810023345666

In [ ]:
svm_model=svm.SVR(kernel='rbf',C=7)
svm_model.fit(x_train,y_train)
pred=svm_model.predict(x_test)
print(f'the mse is : {metrics.mean_squared_error(y_test,pred)}')
print(f'the r2  is : {metrics.r2_score(y_test,pred)}')

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

the mse is : 0.3239478810921585
the r2  is : 0.6868956252364342

In [ ]:
svm_model=svm.SVR(kernel='rbf',gamma=3)
svm_model.fit(x_train,y_train)
pred=svm_model.predict(x_test)
print(f'the mse is : {metrics.mean_squared_error(y_test,pred)}')
print(f'the r2  is : {metrics.r2_score(y_test,pred)}')

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

the mse is : 0.354892148678506
the r2  is : 0.656987155014388

In [ ]:
svm_model=svm.SVR(kernel='rbf',gamma=0.01)
svm_model.fit(x_train,y_train)
pred=svm_model.predict(x_test)
print(f'the mse is : {metrics.mean_squared_error(y_test,pred)}')
print(f'the r2  is : {metrics.r2_score(y_test,pred)}')

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

the mse is : 0.3747335731034996
the r2  is : 0.6378098825220921

In [ ]:
svm_model=svm.SVR(kernel='linear',C=5)
svm_model.fit(x_train,y_train)
pred=svm_model.predict(x_test)
print(f'the mse is : {metrics.mean_squared_error(y_test,pred)}')
print(f'the r2  is : {metrics.r2_score(y_test,pred)}')

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

the mse is : 0.4421244501437707
the r2  is : 0.5726747800811545

In [ ]:
svm_model=svm.SVR(kernel='linear',gamma=0.1)
svm_model.fit(x_train,y_train)
pred=svm_model.predict(x_test)
print(f'the mse is : {metrics.mean_squared_error(y_test,pred)}')
print(f'the r2  is : {metrics.r2_score(y_test,pred)}')

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

the mse is : 0.4421390864918355
the r2  is : 0.5726606336555191

#the best model

In [ ]:
svm_model=svm.SVR(kernel='rbf',C=10)
svm_model.fit(x_train,y_train)
pred=svm_model.predict(x_test)
print(f'the mse is : {metrics.mean_squared_error(y_test,pred)}')
print(f'the r2  is : {metrics.r2_score(y_test,pred)}')

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

the mse is : 0.3239061391655855
the r2  is : 0.6869359699356401